.filter-custom-select {
  .custom-select-input {
    display: flex;
    padding: 14px 16px;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    border-radius: 12px;
    border: 3px solid var(--gray-gray-50, #eff1f6);
    background: var(--gray-gray-50, #eff1f6);
    height: 45px;
    span {
      text-align: left;
      overflow: hidden;
      color: var(--black-black-300, #131316);
      text-overflow: ellipsis;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px; /* 114.286% */
      letter-spacing: -0.2px;
      opacity: 90%;
      .button-icon {
        transition: 500ms;
      }
    }
    &:hover {
      border: 3px solid var(--gray-gray-50, #eff1f6);
      background: var(--gray-gray-50, #eff1f6);
    }
  }
  .custom-select-input[data-active] {
    border: 3px solid var(--black-black-300, #131316);
    background: var(--white-white-100, #fff);
    opacity: 100%;

    .button-icon {
      transform: rotate(180deg);
      transition: 500ms;
    }
  }
  .custom-select-options {
    border-radius: 10px;
    background: var(--trashed-colors-white-100, #fff);
    box-shadow:
      0px 6px 12px 0px rgba(92, 115, 131, 0.08),
      0px 4px 8px 0px rgba(92, 115, 131, 0.08);
  }
}

.custom-filter-checkbox {
  .chakra-checkbox__control[data-checked] {
    background: #131316;
    border-color: #131316;
    &:hover {
      background: #131316;
      border-color: #131316;
      opacity: 70%;
    }
  }
  .chakra-checkbox__label {
    color: var(--black-black-300, #131316);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.4px;
  }
}
